/*Font*/
@import url('https://fonts.googleapis.com/css?family=Monoton');

a
{
    font-size: 18px;
    
}

a:hover { 
    color: #df17fa;
  }
.glyphicon-menu-right,.glyphicon-menu-left
{
    font-size: 35px;
    text-align:center;
    margin-top: 69px;
}

.navbar{
    flex-wrap: nowrap;
    
}

body{
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Applying Fonts*/
#font-1, #font-2 {
    font-family: 'Monoton', cursive;
    color: rgb(160, 58, 160);
    font-size: 23px;
}


#Lyrics-search,#Playlist-search,#btnSignup{
    background-color: rgb(223, 89, 223);
    color: white;
    padding:10px;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    margin-left: 5px;
}

.navJumbo
{
    height:150px;
}

/*.soundwaveNav
{
    margin-top: -32px;
    padding: 10px;
    height:120px;
}*/

#artistSearch
{
    font-size: 16px;
    margin-left: 5px;
    background-color: white;
    height:35px;
    width:300px;
    float:left;
    font-weight: bold;

}

footer
{
    text-align:center;
}




@media screen and (max-width: 965px)
{
    #artistSearch
    {
        font-size: 10px;
        margin-left: 0px;
        height:25px;
        width:auto;
        height: auto;
    
    }
    #Lyrics-search,#Playlist-search{
    
        
        font-size: 10px;
       
    }
    
    .navbar
    {
        height: 100px;
        width: auto;
        margin-top: 0;
        
    }
    #font-1, #font-2 {
        font-size: 0px;
    }
}

/*Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) 
{
    #artistSearch
    {
        font-size: 10px;
        margin-left: 5px;
        height:25px;
        width:auto;
    
    }
    #Lyrics-search,#Playlist-search{
        
        font-size: 10px;
        
        text-align: center;
    }

    
    .navbar
    {
        height: 100px;
        width: auto;
        margin-top: 0;
        
    }
   
    #font-1, #font-2 {
        font-size: 0px;
    }

    .songFrame{
        height:400px;
    }

} 

@media (min-width: 644px)  and (max-width: 660px) 
{
    #artistSearch
    {
        font-size: 10px;
        margin-left: 5px;
        height:25px;
        
    
    }
    #Lyrics-search,#Playlist-search{
        
        font-size: 10px;
        
        text-align: center;
    }

    
    .navbar
    {
        
        margin-top: -30px;
        -ms-flex-wrap: nowrap
        
    }
   
    #font-1, #font-2 {
        font-size: 0px;
    }
}