/*Font*/
@import url('https://fonts.googleapis.com/css?family=Monoton');

.wrapper a {
    font-size: 18px;
    color: rgb(0, 115, 255);
}

.wrapper a:hover { 
    color: #df17fa;
    transition: 0.4s;
    text-decoration: none;
  }
.glyphicon-menu-right,.glyphicon-menu-left
{
    font-size: 35px;
    text-align:center;
    margin-top: 69px;
}


body{
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Applying Fonts*/
#font-1, #font-2 {
    font-family: 'Monoton', cursive;
    color: rgb(160, 58, 160);
    font-size: 23px;
}

/*Search Buttons*/
#Lyrics-search,#Playlist-search,#btnSignup {
    background-color: rgb(223, 89, 223);
    color: white;
    padding:10px;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    margin-left: 5px;
}   #Playlist-search:hover {
    background-color: rgb(0, 115, 255);
    color: white;
    padding:10px;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    margin-left: 5px;
    transition: 0.3s;
}   #Lyrics-search:hover {
    background-color: rgb(0, 115, 255);
    color: white;
    padding:10px;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    margin-left: 5px;
    transition: 0.3s;
}

.navJumbo
{
    height:150px;
}
/*.soundwaveNav
{
    margin-top: -32px;
    padding: 10px;
    height:120px;
}*/

#artistSearch
{
    font-size: 16px;
    margin-left: 5px;
    background-color: white;
    height:35px;
    width:300px;
    float:left;

}

footer
{
    text-align:center;
}



 /*Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 640px) 
{
    #artistSearch
    {
        font-size: 10px;
        margin-left: 5px;
        height:20px;
        width:150px;
    
    }
    #Lyrics-search,#Playlist-search,#btnSignup{
        
        font-size: 8px;
        padding:5px;
        width:100px;
    }

    } 

@media only screen and (max-width: 480px) 
{
    #artistSearch
    {
        font-size: 10px;
        margin-left: 5px;
        height:20px;
        width:50px;
    
    }
    #Lyrics-search,#Playlist-search,#btnSignup{
        
        font-size: 10px;
        padding:5px;
        width:100px;
    }

}    
/*Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) 
{
    #artistSearch
    {
        font-size: 10px;
        margin-left: 5px;
        height:25px;
        width:auto;
    
    }
    #Lyrics-search,#Playlist-search,#btnSignup{
        
        font-size: 10px;
        width:auto;
    }
   

} 
@media screen and (max-width: 600px)
{
    #artistSearch
    {
        font-size: 8px;
        margin-left: 0px;
        height:25px;
        width:auto;
        height: auto;
    
    }
    #Lyrics-search,#Playlist-search,#btnSignup{
    
        width:auto;
        font-size: 8px;
        height:auto;
    }
    .soundwaveNav
    {
        width:auto;
        height: auto;
    }
    .navbar
    {
        height: auto;
        width: auto;
    }
}